@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@500&family=Poppins&display=swap');
*{
    font-family: 'Poppins';
}
.window{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(242, 192, 192);
}
.GridBox {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border: 1px solid;
    width: 700px;
    height: 700px;
    padding: 5px;
    border: none;
    text-align: center;
    background-color: powderblue;
    border-radius: 0.5em;
    box-shadow: 0px -2px 5px rgb(0, 0, 0);
}
.GridBox>div {
    border-radius: 0.5em;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: white;
    margin-left: 0.08em;
    margin-top: 0.08em;
    font-size: 00.7em;
    font-weight: bold;
    width: 65px;
    height: 65px;
    box-shadow: 0.3px 1px 2px black;
}

#Box18,
#Box34,
#Box48,
#Box89,
#Box82,
#Box97,
#Box62{
    background-color: rgb(228, 121, 121);
}
#Box12,
#Box39,
#Box70,
#Box79,
#Box44{
    background-color: rgb(136, 242, 136);
}
.diceRotate{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#startBtn{
    width: 80px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    padding-top:13px;
    border-radius: 0.5em;
}
#dice{
    padding: 0.7em;
    margin: 1em;
    background: white;
    border-radius: 1em;
    border: none;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 5px black;
    transition: all 0.3s;
    cursor: pointer;
    width: 50px;
}
#playersTurn{
    background-color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0 10em;
    text-align: center;
     font-weight: bold;
     box-shadow: 0px 4px 5px black;
 }
 #playersTurn{
     margin-top: 1em;
 }
header>img {
    width: 300x;
    height: 200px;
}
.Points{
    background-color: rgb(242, 192, 192);
    padding: 0.5em;
    margin-top: 2em;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 5px black;
    border-radius: 1em;
    width: 400px;
    height: 100px;
}
.Points>h4{
    margin: 1em 1em;
}
/* .icon{
    /* display: flex;
    justify-content: space-between; */
/* } */ 
.resetPlayer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header>h1 {
    font-family: 'Noto Sans Mono'; 
    background-color: powderblue;
    border-radius: 0.5em;
    padding: 0.3em;
    box-shadow: 0px 4px 5px black;
}
.dumContainer{
    display: none;
}
.startButtonNone{
    display: none;
}
button {
    padding: 0.7em;
    margin: 1em;
    background: white;
    border-radius: 1em;
    border: none;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 5px black;
    transition: all 0.3s;
    cursor: pointer;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: powderblue;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 4px 5px black;
    text-align: center;
    font-weight: bold;
    border-radius: 1em;
    transition: all 0.5s;
    width: 450px;
    height: 350px;
}
button:hover{
    transform: translateY(-3px);
}
header {
    text-align: center;
}
.icon{
    margin-right: 180px;
}
.icon>div{
    margin:0;
}
.winner{
    display: none;
}
.winnerAnnounce{
    display: block;
    width: 500px;
    height: 350px;
    background-color: powderblue;
    font-size: 45px;
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 5px black;
    border-radius: 1em;
}
.winnerAnnounce>h1{
    margin: 0;
}
.winnerAnnounce>p{
    margin: 0;
    margin-bottom: 30px;
}
.nonButton{
    display: none;
}